// Additional Header
meta(http-equiv='X-UA-Compatible', content='IE=edge')
// !!! 必 ず こ の V i e w p o r t を 使 用 し て く だ さ い !!!!
meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover')
// !!! 必 ず こ の V i e w p o r t を 使 用 し て く だ さ い !!!!
link(rel='stylesheet', type='text/css', href=`${path.css}vendor/normalize.css`)

if useSlider
  link(rel='stylesheet', type='text/css', href=`${path.css}vendor/swiper.min.css`)

link(rel='stylesheet', type='text/css', href=`${path.css}topPage.css`)

if jQueryOverride
  script(type='text/javascript', src=`${path.script}jquery-1.11.3.js`)

if defaultMap
  // <script type="text/javascript" src="$link.contextPath/original/css/option/new_map/addin_newmap.js" id="js_smartMap" data-font="true" data-breakpoint="768px" data-dual="true"></script>
  script#js_smartMap(type='text/javascript', src='/jobfind-pc/original/css/option/new_map/addin_newmap.js', data-font='true', data-breakpoint='768px', data-dual='false', data-debug='true')
// Additional Header
